/*
    color - rgb(77, 132, 100);
    color - rgb(134, 124, 133);
    color - rgb(42, 65, 47);
    color - rgb(0, 113, 43);
    color: rgb(241, 246, 249);
    color: rgb(219, 240, 225);
    color: rgb(174, 208, 189);
    color: rgb(138, 187, 159);
*/
@media all and (min-width: 851px) {
    a {
        color: rgb(42, 65, 47);
        font-size: 1.25em;
    }
    #address:hover {
        background-color: rgb(219, 240, 225);
        cursor: pointer;
    }
    #background_div {
        position: fixed;
        top: 0;
        left: 0;
        width: 55%;
        height: 100%;
        z-index: 0;
    }

    #background_img {
        width: 100%;
        height: 100%;
    }
    body {
        background-color: rgb(165, 232, 179);
        text-align: center;
        font-family: "Bree Serif", serif;
    }
    #email a {
        color: rgb(77, 132, 100);
    }
    #email:hover {
        background-color: rgb(219, 240, 225);
        cursor: pointer;
    }
    #footer-div {
        position: absolute;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        top: 0;
        right: 0;
        width: 45%;
        height: 20%;
        z-index: 2;
    }
    .footer_item {
        text-align: center;
    }

    .footer_div_2 {
        padding-top: 0.6em;
    }
    #grid {
        position: absolute;
        text-align: center;
        width: 43%;
        height: auto;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        margin-top: 12%;
        z-index: 1;
    }
    h1 {
        color: rgb(42, 65, 47);
    }
    h3 {
        color: rgb(77, 132, 100);
    }

    #insta_div {
        padding-top: 0.6em;
    }

    #insta {
        width: 14%;
    }
    #insta_div:hover {
        cursor: pointer;
    }
    p {
        color: rgb(42, 65, 47);
    }
    #phone:hover {
        background-color: rgb(219, 240, 225);
        cursor: pointer;
    }
    #text-div {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    #theme_div {
        margin-top: 1em;
        padding-top: 1em;
        margin-bottom: -2em;
        z-index: 3;
    }
    #theme_submission {
        margin-top: 0.5em;
        margin-bottom: 2.5em;
        z-index: 3;
    }
}

@media all and (max-width: 850px) {
    a {
        color: rgb(174, 208, 189);
        font-size: 1.25em;
    }
    #address {
        text-align: center;
        font-size: 0.5em;
        color: rgb(219, 240, 225);
        margin-bottom: 0.1em;
    }
    #address a {
        color: rgb(219, 240, 225);
        background-color: rgb(77, 132, 100);
    }
    #background_div {
        height: 100%;
        width: 100%;
        opacity: 0.6;
        position: fixed;
        z-index: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    #background_img {
        height: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    body {
        background-color: rgb(165, 232, 179);
        text-align: center;
        font-family: "Bree Serif", serif;
    }
    #email {
        text-align: center;
        margin-bottom: 0.1em;
        padding-right: 1em;
        color: rgb(219, 240, 225);
        margin-left: 1em;
    }
    #email a {
        color: rgb(219, 240, 225);
        background-color: rgb(77, 132, 100);
        font-size: 1em;
    }
    .footer_div_1:hover {
        background-color: none;
    }
    .footer_div_2:hover {
        background-color: none;
    }
    #footer-div {
        background-color: none;
        display: block;
        position: absolute;
        top: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 100%;
        height: auto;
        margin-top: 2%;
        z-index: 2;
    }
    .footer_items {
        margin-top: auto;
        margin-bottom: auto;
    }
    #grid {
        position: absolute;
        text-align: center;
        width: 100%;
        height: auto;
        z-index: 1;
        top: 0;
        margin-top: 20%;
    }
    h1 {
        color: rgb(174, 208, 189);
    }

    h3 {
        color: rgb(77, 132, 100);
    }
    #header {
        color: rgb(42, 65, 47);
    }
    #insta {
        height: 100%;
        width: 100%;
    }
    #insta_div {
        width: 4%;
        height: auto;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    p {
        color: white;
    }
    #phone {
        text-align: center;
        margin-bottom: 0.1em;
        color: rgb(219, 240, 225);
    }
    #phone a {
        color: rgb(219, 240, 225);
        background-color: rgb(77, 132, 100);
    }
    .projects {
        font-size: 1em;
    }
    #project_header {
        margin-bottom: 1em;
        margin-top: 0.3em;
        color: rgb(138, 187, 159);
    }
    #text-div {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    #theme_div {
        margin-top: 1em;
    }
    #theme_submission {
        margin-top: 0.5em;
        margin-bottom: 2em;
    }
}

@media all and (max-width: 830px) {
    #grid {
        margin-top: 20%;
    }
}

@media all and (max-width: 750px) {
    #grid {
        margin-top: 24%;
    }
    #insta {
        width: 170%;
    }
}
@media all and (max-width: 650px) {
    #grid {
        margin-top: 27%;
    }
}
@media all and (max-height: 500px) {
    #footer-div {
        height: 32%;
    }
}
@media all and (max-height: 400px) {
    #footer-div {
        height: 36%;
    }
}
@media all and (max-height: 300px) {
    #footer-div {
        height: 40%;
    }
}
@media all and (max-height: 300px) {
    #footer-div {
        height: 45%;
    }
}
@media all and (max-height: 200px) {
    #footer-div {
        height: 50%;
    }
}
