/*
    color - rgb(77, 132, 100);
    color - rgb(134, 124, 133);
    color - rgb(42, 65, 47);
    color - rgb(0, 113, 43);
    color: rgb(241, 246, 249);
    color: rgb(219, 240, 225);
    color: rgb(174, 208, 189);
    color: rgb(138, 187, 159);
*/
@media all and (min-width: 851px) {
    a {
        font-size: 1.25em;
        text-decoration: none;
    }
    #address:hover {
        background-color: teal;
        cursor: pointer;
    }
    #background_div {
        position: fixed;
        top: 0;
        left: 0;
        width: 55%;
        height: 100%;
        z-index: 0;
    }
    #background_img {
        width: 100%;
        height: 100%;
    }
    body {
        background-color: rgb(165, 232, 179);
        text-align: center;
        font-family: "Bree Serif", serif;
    }
    #email {
        width: 100%;
    }
    #email a {
        color: rgb(77, 132, 100);
    }
    #email:hover {
        background-color: teal;
        cursor: pointer;
    }
    #footer-div {
        position: absolute;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        top: 0;
        right: 0;
        width: 45%;
        height: 12.5%;
        z-index: 2;
    }
    .footer_item {
        text-align: center;
    }

    .footer_div_2 {
        padding-top: 0.6em;
    }
    #grid {
        position: absolute;
        text-align: center;
        width: 43%;
        height: 87.5%;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
        margin-top: 12%;
        z-index: 1;
    }
    h1 {
        color: rgb(42, 65, 47);
        margin-top: 1.5em;
    }
    h3 {
        color: rgb(77, 132, 100);
        text-shadow: 1px 1px black;
    }

    #insta_div {
        padding-top: 0.6em;
    }

    #insta {
        width: 14%;
    }
    #insta_div:hover {
        cursor: pointer;
        background-color: teal;
    }
    p {
        color: rgb(42, 65, 47);
    }
    #phone:hover {
        background-color: teal;
        cursor: pointer;
    }
    #text-div {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    #theme_div {
        margin-top: 1em;
        padding-top: 1em;
        margin-bottom: -2em;
        z-index: 3;
    }
    #theme_submission {
        margin-top: 0.5em;
        margin-bottom: 2.5em;
        z-index: 3;
    }
}

@media all and (max-width: 1050px) {
    #address {
        text-align: center;
        font-size: 0.5em;
        color: rgb(219, 240, 225);
        margin-bottom: 0.1em;
        text-shadow: 2px 2px black;
    }
    #address a {
        color: rgb(241, 246, 249);
    }
    #background_div {
        height: 100%;
        width: 100%;
        opacity: 0.6;
        position: fixed;
        z-index: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    #background_img {
        height: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    body {
        background-color: rgb(165, 232, 179);
        text-align: center;
        font-family: "Bree Serif", serif;
    }
    #email {
        text-align: center;
        margin-bottom: 0.1em;
        padding-right: 1em;
        color: rgb(219, 240, 225);
        text-shadow: 2px 2px black;
    }
    #email a {
        color: rgb(241, 246, 249);
    }
    .footer_div_1:hover {
        background-color: none;
    }
    .footer_div_2:hover {
        background-color: none;
    }
    #footer-div {
        position: absolute;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        width: 100%;
        height: auto;
        z-index: 2;
        margin-top: 5%;
        text-align: center;
    }
    .footer_div_2 {
        padding-top: 0.6em;
    }
    #grid {
        position: absolute;
        text-align: center;
        width: 100%;
        height: auto;
        z-index: 1;
        margin-top: 24%;
    }
    h1 {
        color: rgb(174, 208, 189);
        text-shadow: 1px 1px black;
    }

    h3 {
        color: rgb(77, 132, 100);
    }
    #header {
        color: rgb(138, 187, 159);
    }
    #insta {
        height: 100%;
        width: 4%;
    }
    #insta_div {
        width: 100%;
        height: auto;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    p {
        color: white;
        text-shadow: 1px 1px black;
        margin-top: 1.5em;
    }
    .projects {
        text-shadow: 1px 1px black;
    }
    .projects:hover {
        background-color: teal;
    }
    #phone {
        text-align: center;
        margin-bottom: 0.1em;
        color: rgb(219, 240, 225);
        text-shadow: 2px 2px black;
    }
    #phone a {
        color: rgb(219, 240, 225);
    }
    .projects {
        font-size: 1.15em;
        color: rgb(219, 240, 225);
    }
    #project_header {
        margin-bottom: 1em;
        margin-top: 1em;
        color: rgb(138, 187, 159);
    }
    #text-div {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    #theme_div {
        margin-top: 1em;
    }
    #theme_submission {
        margin-top: 0.5em;
    }
}

@media all and (max-width: 850px) {
    #grid {
        margin-top: 25%;
    }
    h1 {
        margin-top: 2em;
    }
    #insta {
        width: 5%;
    }
    #theme_div {
        margin-top: 2.5em;
    }
}
